*{
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-family: sans-serif;
                    }
                    nav{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding-top: 45px;
                                        padding-left: 8%;
                                        padding-right: 8%;
                                        position: relative;
                                        bottom: 6rem;
                    }
                    .logo{
                                        font-size: 35px;
                                        color: white;
                                        letter-spacing: 1px;
                                        cursor: pointer;
                    }
                   
                    span{
                                        color: #f9004d;
                    }
                    nav ul li{
                                        list-style: none;
                                        display: inline-block;
                                        padding: 10px 25px;                  
                    }
                    nav ul a{
                                        color: white;
                                        text-decoration: none;
                                        font-weight: bold;
                                        text-transform: capitalize;
                    }
                    nav ul a:hover{
                                        color: #f9004d;
                                        transition: .4s;
                    }
                    .btn{
                                        background-color: #f9004d;
                                        color: white;
                                        text-decoration: none;
                                        border: 2px solid transparent;
                                        font-weight: bold;
                                        padding: 8px 20px;
                                        border-radius: 30px;
                                        transition: transform .4s;
                    }
                    .btn:hover{
                                        transform: scale(1.2);
                    }
img{
                    width: 200px;
                    height: 200px;
                    border-radius: 5px;
}
.box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  
}
.projects{
                    background-color: #101010;
                    width: 100%;
                    height: 100vh;
                    padding: 100px 0px;
                    overflow: hidden;
}
 .projects .card{
                    height: 365px;
                    width: 335px;
                    padding: 20px 35px;
                    background: #191919;
                    border-radius: 20px;
                    margin: 15px;
                    position: relative;
                    bottom: 5rem;
                    overflow: hidden;
                    text-align: center;
                    
} 
.projects h1{
                    color: white;
                    font-size: 75px;
                    width: 1130px;
                    margin: 30px auto;
                    text-align: center; 
                    position: relative;
                    bottom: 5rem;
}
.projects h5{
                    font-size: 18px;
                    font-weight: bold;
                    padding: 4px;
                    color: white;
}
.btn2{
                    background-color: #f9004d;
                    color: white;
                    text-decoration: none;
                    border: 2px solid transparent;
                    font-weight: bold;
                    padding: 9px 22px;
                    border-radius: 30px;
                    transition: .4s;
                    position: relative;
                    bottom: -2rem;         
}
.btn2:hover{
                    background-color: transparent;
                    border: 2px solid #f9004d;       
}